DATABASE_URL=postgresql://postgres.xiswvztwpdhybnmfuapb:0219An.gel0219@aws-0-us-west-2.pooler.supabase.com:5432/postgres

SUPABASE_URL=https://xiswvztwpdhybnmfuapb.supabase.co/
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhpc3d2enR3cGRoeWJubWZ1YXBiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkwMjQzOTQsImV4cCI6MjA4NDYwMDM5NH0.TR27CupWrUMosBUZ4tu6tn1N96jwDat5ETe0AA9QOSc
SUPABASE_SERVICE_ROLE=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhpc3d2enR3cGRoeWJubWZ1YXBiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTAyNDM5NCwiZXhwIjoyMDg0NjAwMzk0fQ.-fS2npm-8f6x68ramZiO18rEZmwZO0xNLAtDDpNcUqg